<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Progenys</title>
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}" />
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='scrolling-nav.css') }}" />
    <!-- Bootstrap Core CSS -->
    <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.0.js'></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">
  <script type='text/javascript' src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
  <style type='text/css'>
    .row-index {
  width: 50px;
  display: inline-block;
  }
  </style>


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Progenys</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Campaign</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">View</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">API Documentation</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Property</h1>
                    <div class="container">
                      <form action = "{{url_for('success')}}" method = "POST">
                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Real Estate URL</label>
                        <div class="col-sm-10">
                          <input title = "REURL" type="String" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="URL" name = "REURL">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Domain URL</label>
                        <div class="col-sm-10">
                          <input title = "DomainURL" type="String" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="URL" name = "DomainURL">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">On The House URL</label>
                        <div class="col-sm-10">
                          <input title = "OnTheHouseURL" type="String" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="URL" name = "OnTheHouseURL">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Address</label>
                        <div class="col-sm-10">
                          <input title = "Address" id="autocomplete"  type="String" class="form-control form-control-lg" id="autocomplete lgFormGroupInput" placeholder="Address" name = "Address">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Suburb</label>
                        <div class="col-sm-10">
                          <input title = "Suburb" id="locality" type="String"  class="form-control form-control-lg" id=" Suburb lgFormGroupInput" placeholder="Suburb" name = "Suburb">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">State</label>
                        <div class="col-sm-10">
                          <input title = "State" id="administrative_area_level_1" type="String" class="form-control form-control-lg" id="State lgFormGroupInput" placeholder="State" name = "State">
                        </div>
                      </div>


                      <div class="form-group row">
                        <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Pincode</label>
                        <div class="col-sm-10">
                          <input title = "Pincode" id="postal_code" type="Integer"  class="form-control form-control-lg" id="Pincode lgFormGroupInput" placeholder=Pincode name = "Pincode">
                        </div>
                        <br>
                        <br>
                        <button type="Submit" class="btn btn-primary">Submit</button>

                      </div>

                    </form>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->

  <section id="about" class="about-section">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Campaign</h1>
                  <!-- <button type="Submit" class="btn btn-primary">View</button> -->
                  <script type='text/javascript'>//<![CDATA[
                  $(window).load(function(){
                  var data = {{data|tojson}};
                  $(function() {
                    $('#table').bootstrapTable({
                      data: data
                    });

                  });
                  });//]]>
                  </script>
                  <div class="container" style="padding: -100px; ">
                    <br>
                    <table id="table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="100%" data-toolbar= ".toolbar">
                      <thead>
                        <tr>
                          <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>

                          <th data-field="id" data-sortable="true">ID</th>
                           <th data-field="realEstateUrl" data-sortable="true" >RE URL</th>
                          <th data-field="domainUrl" data-sortable="true">Domain URL</th>
                          <th data-field="onTheHouseUrl" data-sortable="true">OTH URL</th>
                          <th data-field="address" data-sortable="true">Address</th>
                          <th data-field="suburb" data-sortable="true">Suburb</th>
                          <th data-field="state" data-sortable="true">State</th>
                          <th data-field="pincode" data-sortable="true">Pincode</th>
                          <!-- <th><button type="button" class="btn btn-primary">View</button></th> -->


                        </tr>
                      </thead>
                    </table>
                  </div>
              </div>
          </div>
  </section>
  <script>
  function actionFormatter(value, row, index) {
          return [
          '<a class="like ml10" href="#services" title="Like">',
          '<i class="glyphicon glyphicon-heart"></i>',
          '</a>',
          '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
          '<i class="glyphicon glyphicon-edit"></i>',
          '</a>',
          '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
          '<i class="glyphicon glyphicon-remove"></i>',
          '</a>'
      ].join('');
  }
  window.actionEvents = {
    'click .like': function (e, value, row, index) {
        console.log(row.id)
        $.get('http://localhost:5000/property/'+row.id, function(data2){
           var data2 = JSON.parse(data2)
          console.log("asdasdasd")
          console.log('done', data2);
          $('#viewtable').bootstrapTable({
            data: data2
          });
        })
    },
    'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .remove': function (e, value, row, index) {
        alert('You click remove icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    }
};
</script>
    <!-- Services Section -->
    <section id="services" class="services-section">
      <div class="container" style="padding: -100px; ">
        <h1>View your property</h1>

        <br>
        <table id="viewtable"  data-toggle="false"  data-show-columns="true" data-pagination="true" data-height="100%" data-toolbar= ".toolbar">
          <thead>
            <tr>
              <th data-field="Data"  data-sortable="true">data</th>
              <th data-field="Provider" data-sortable="true">provider</th>
              <th data-field="id" data-sortable="true">ID</th>

            </tr>
          </thead>
        </table>
      </div>
  </div>
</div>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>

    <script>
     // This example displays an address form, using the autocomplete feature
     // of the Google Places API to help users fill in the information.

     // This example requires the Places library. Include the libraries=places
     // parameter when you first load the API. For example:
     var placeSearch, autocomplete;
     var componentForm = {
      //  street_number: 'short_name',
    //  route: 'long_name',
     locality: 'long_name',
     administrative_area_level_1: 'short_name',
    //  country: 'long_name',
     postal_code: 'short_name'

    };

     function initAutocomplete() {
       // Create the autocomplete object, restricting the search to geographical
       // location types.
       var options = {
         // bounds : boundsByCity,
          types: ["geocode"],
          componentRestrictions: { country: "AUS" }}
       autocomplete = new google.maps.places.Autocomplete(
           /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
           options );
      autocomplete.addListener('place_changed', fillInAddress);
     };

     function fillInAddress() {
       // Get the place details from the autocomplete object.
       console.log("as")
       var place = autocomplete.getPlace();
       for (var component in componentForm) {
         document.getElementById(component).value = '';
         document.getElementById(component).disabled = false;
      }
      for (var i = 0; i < place.address_components.length; i++) {
       var addressType = place.address_components[i].types[0];
       console.log(addressType)
       console.log(componentForm[addressType])
       if (componentForm[addressType]) {
         var val = place.address_components[i][componentForm[addressType]];
         console.log(val)
         document.getElementById(addressType).value = val;
       }
     }
     }
   </script>

   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqObbnsNtZOC6U4RRTtqudNOUzwrpQPVs&libraries=places&callback=initAutocomplete"></script>

</body>

</html>
