<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>Bootstrap Table - Flask example </title>



  <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.0.js'></script>



  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">




      <link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">



      <script type='text/javascript' src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>


  <style type='text/css'>
    .row-index {
  width: 50px;
  display: inline-block;
}
  </style>





<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
var data = {{data|tojson}};
$(function() {
  $('#table').bootstrapTable({
    data: data
  });
  console.log(data)
});
});//]]>
</script>

</head>
<body>

<div class="container" style="padding: 10px; ">
  <br>
  <table id="table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="500">
    <thead>
      <tr>
        <th data-field="id" data-sortable="true">ID</th>
         <th data-field="realEstateUrl" data-sortable="true" >RE URL</th>
        <th data-field="domainUrl" data-sortable="true">Domain URL</th>
        <th data-field="onTheHouseUrl" data-sortable="true">OTH URL</th>
        <th data-field="address" data-sortable="true">Address</th>
        <th data-field="suburb" data-sortable="true">Suburb</th>
        <th data-field="state" data-sortable="true">State</th> -->
    <th data-field="pincode" data-sortable="true">Pincode</th>
      </tr>
    </thead>
  </table>
</div>


</body>

</html>
